/* ==================== RESET ==================== */
/* Remove margens, espaçamentos padrões e define fonte global */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==================== ROOT VARIABLES ==================== */
/* Variáveis de cores reutilizáveis no projeto */

:root {
    --primary-body: #1F1F1F;
    --secondary-font: #DE8116;
    --border: #b2b2b2;

}



html,
body {
    overflow-x: hidden;
    background-color: var(--primary-body)
}



.offcanvas {
    background-color: var(--primary-body);
}




.list-unstyled a {
    display: inline-block;
    padding: .5em;
    margin-left: 9em;
    font-weight: 500;
    text-transform: uppercase;

}


.btn-close {
    filter: invert(1) !important;
}



.navbar {
    position: absolute;
    top: 0;

}


/* Remove borda do botão do menu */
.navbar-toggler {
    border: none;
}


.navbar-toggler i {
    color: #121212 !important;
    font-size: 1.5em;


}




/* Remove o contorno azul ao clicar */
.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}




header {
    position: relative;
}




h1 {
    position: absolute;
    font-family: 'Dancing Script', cursive;
    top: 5em;
    padding-left: 4em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
    color: #ffffff;
}








.title {
    color: var(--secondary-font);
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    margin-left: 1em;
    margin-top: 1em;

}




.lista li {
    list-style-type: none;
}



.lista h4 {
    color: #ED9F52;
    font-size: 1.2em;
    font-weight: 500;
}



.paragraf {
    color: #FFFFFF;
    font-weight: 100;
    font-size: .8em;
    letter-spacing: 1px;

}



.lista li .paragraf {
    margin-bottom: .1em;
    line-height: 1.5;

}



.coados {
    color: var(--secondary-font);
    margin-bottom: .1em;
}




.rodape {
    background-color: var(--secondary-font);
    height: 150px;
}



.icon i {
    font-size: 2em;
    color: #ffffff;


}