/* ==================== RESET ==================== */
/* Remove margens, espaçamentos padrões e define fonte global */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==================== ROOT VARIABLES ==================== */
/* Variáveis de cores reutilizáveis no projeto */

:root {
    --primary-body: #1F1F1F;
    --secondary-font: #DE8116;
    --border: #b2b2b2;

}




body {
    background-color: var(--primary-body);
}


.header {
    position: relative;
}


h1 {
    position: absolute;
    font-family: 'Dancing Script', cursive;
    top: 5em;
    padding-left: 4em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
    color: #ffffff;



}



.header img {
    position: relative;
    z-index: 1;

}


.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    /* navbar por cima */
}


/* Ícone da navbar mobile */

span .bi-list {
    color: #ffffff;
    font-size: 1.4em;
}


/* Remove borda do botão do menu */
.navbar-toggler {
    border: none;
}

/* Remove o contorno azul ao clicar */
.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}




.title {
    color: var(--secondary-font);
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    margin-left: 1em;

}




.lista li {
    list-style-type: none;
}



.lista h4 {
    color: #ED9F52;
    font-size: 1.2em;
    font-weight: 500;
}



.paragraf {
    color: #ffffff;
    font-weight: 100;
    font-size: .8em;
    letter-spacing: 1px;

}



.lista li .paragraf{
    margin-bottom: .1em;
    line-height: 1.5;

}



.coados {
    color: var(--secondary-font);
    margin-bottom: .1em;
}




.rodape {
    background-color: var(--secondary-font);
    height: 150px;
}



.icon i {
    font-size: 2em;
    color: #ffffff;


}