/* ==================== RESET ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}



:root {
    --cor--painel: #1F1F1F;
    --cor--primary: #DE8116;

}






/* LINKS */


.list-unstyled a {
    display: inline-block;
    padding: .5em 0;
    margin-left: .9em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;

}

/* PAINEL */

.offcanvas {
    background-color: var(--cor--painel);
    z-index: 1050;
}




/* BTN CLOSE */
.btn-close {
    filter: invert(1);

}


/* MENU HAMBURGUER */

.bi-list {
    font-size: 1.4em;
    color: #ffffff;

}


.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}





/* FORMULÁRIO */


.contact {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 2px;
}


form label {
    color: var(--cor--primary);
    font-weight: 300;
}



form input,
textarea {
    background-color: transparent;
    margin-bottom: 1.2em;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #5A5A5A;
    color: #ddd;

}



input::placeholder,
textarea::placeholder {
    font-size: .8em;
    color: #bfbfbf56;
}



/* BOTÃO */


.button {
    background-color: transparent;
    border: none;
    color: var(--cor--primaria);
    font-style: italic;
}




/* BODY */


body {
    background-color: #2b2b2b;
    background-image: url("https://static.wixstatic.com/media/nsplsh_5468315376372d31344c38~mv2.jpg/v1/fill/w_1897,h_841,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/nsplsh_5468315376372d31344c38~mv2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

}




section{
    margin-top: 12em;
}




.text-background {
    background-color: var(--cor--primary);
 
}



.title{
    color: #ffffff;
    font-weight: 600;
}



.text-background h4{
    color: #3A3A3A;
    margin-top: 1em;
    font-weight: 700;
}




.text-background p{
    color: #ddd;
    font-size: .8em;
    letter-spacing: 1px;
}