/* ==================== RESET ==================== */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
    font-family: "Lato", sans-serif;

}




body {
    background: #000000;
}




.home-hero img {
    display: block;
    width: 100%;
}



.home-hero {
    position: relative;

}



.text h3 {
    position: absolute;
    top: 10px;
    color: #f2f2f2;
    padding: 1em 1em;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.45);

}



.offcanvas-body img {
    max-width: 20%;
    margin-top: -1em;

}




.list-unstyled {
    padding-top: 1em;
}




.offcanvas {
    background: #333333;
}





.list-unstyled li a {
    display: inline-block;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #ccc;
    font-weight: 500;

}




form label {
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;

}


.form-control {
    margin-top: .3em;
    background: #dce0e6;
}





.form-control:focus {
    background: #e6e6e6;
    border: none;
    box-shadow: none;
    outline: none;



}



.form-control::placeholder {
    color: #111;

}




.input-wrap button {
    padding: .3em .8em;
    border-radius: 3px;
    background: #4d88ff;
    color: #ffffff;
    border: none;
}






.input-wrap {
    position: relative;
}



.input-wrap button {
    position: absolute;
    top: 2px;
    right: 4px;

}



.input-wrap button:active {
    transform: scale(0.97);
}


.navbar-toggler {
    background: #f2f2f2;
    font-size: .8em;
    margin-top: 1em;
}



.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}



.btn-hero {
    background-color: #f5c518;
    display: inline-block;
    padding: .3em 1.2em;
    margin-left: 2em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    border-radius: 1px;
}



.btn-hero:active{
    transform: scale(0.97);
}