/* ==================== RESET ==================== */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
}



/* ==================== HTML ==================== */


html {
    scroll-behavior: smooth;

}





/* ==================== SECTIONS ==================== */


section {
    padding-top: 8rem;
    margin-bottom: 15em;

}



#home,
#sobre,
#avaliacoes,
#endereco {
    scroll-margin-top: 15rem;
}





/* ==================== ROW ==================== */


.row {
    max-width: 1200px;
    margin: 0 auto;

}







/* ==================== BODY ==================== */


body {
    background-color: #000000;
    padding-top: 20rem;
}




/* ==================== HEADER ==================== */


header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #fff;
    background-color: #000000;
    z-index: 1000;

}



.logo {
    display: block;
    padding: 15px;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}



.menu {
    display: flex;
    gap: 1rem;
}


.menu a {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    color: #ffd700;
}


.menu a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    margin-top: 22px;
    left: 0;
    transition: width 0.3s ease;
    background-color: #fff;

}



.menu a:hover::after {
    width: 100%;
}





.menu a:hover {
    color: #fff;
}








.menu li {
    list-style-type: none;
}




/* ==================== HOME ==================== */


.title-home {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 40px;

}






.paragraf {
    color: #ccc;
    font-weight: 100;
    font-size: 1.1rem;




}



/* ==================== SOBRE ==================== */



.title {
    color: #fff;
    font-size: 2.1rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}







.title span {
    color: orange;
}







.button {
    background-color: orange;
    padding: .5rem 2rem;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    margin-top: 1rem;




}







.button:hover {
    letter-spacing: 1px;
}



/* ==================== MENU ==================== */



.card {
    background-color: #000000;
    border: 1px solid #ccc;
    box-shadow: 0 1px 5px #ffff;
}







.card h4 {
    color: #fff;
    padding: 1rem 0;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 20px;
}






.price {
    color: #ccc;
}






.price span {
    text-decoration: line-through;
    font-size: .8rem;

}






.btn {
    background-color: orange;
}







/* ==================== Avaliações ==================== */


.card .decoracao {
    width: 15%;
    margin: 0 auto;

}



.card .user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
}



.card h3 {
    color: #fff;
    font-size: .9rem;
    margin-top: .3rem;
}



.paragraf_client {
    color: #ccc;

}





.box-stars {
    color: gold;
}





/* ==================== Endereço ==================== */





.rede-socias {
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    cursor: pointer;

}




.bi-linkedin {
    color: #0077B5;
}



.bi-instagram {
    color: #C13584;
}





.bi-whatsapp {
    color: #25D366;
}



.rede-socias i {
    position: relative;
    font-size: 2rem;
    margin: 0 10px;
    cursor: pointer;
}

/* Tooltip */
.rede-socias i::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 120%;
    /* ajusta a posição acima do ícone */
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 0.8rem;
    opacity: 0;
    transition: 0.5s;
}

/* Mostrar tooltip ao passar o mouse */
.rede-socias i:hover::after {
    opacity: 1;
}




/* ==================== Bootstrap ==================== */

/* Botão hamburguer — usa o padrão do Bootstrap, apenas com cor dourada */



#painel ul li {
    margin-bottom: 1rem;
    /* Espaçamento dos links no bootstrap */
}


.menu-toggle {
    background: transparent;
    border: none;
    position: absolute;
    right: 11px;
    top: 30px;
    z-index: 1000;
}



/* Ícone hamburguer personalizado (dourado) */
.navbar-toggler-icon {
    width: 1.8em;
    height: 1.8em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,215,0,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}



/* ==================== Media Query ==================== */

/* Celular 768px */



@media(max-width:768px) {


    body {
        padding-top: 5rem;
        /* antes era 20rem, agora menor no mobile */
    }

    section {
        padding-top: 3rem;
        /* antes era 8rem */
        margin-bottom: 1rem;
        /* opcional, antes era 20rem */
    }

    #home,
    #sobre,
    #avaliacoes,
    #endereco {
        scroll-margin-top: 7rem;

    }
}