/* ==================== RESET ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}



:root {
    --cor--painel: #1F1F1F;
    --cor--primaria: #DE8116;

}






/* LINKS */


.list-unstyled a {
    display: inline-block;
    margin: .5em 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;

}

/* PAINEL */

.offcanvas {
    background-color: var(--cor--painel);
}




/* BTN CLOSE */
.btn-close {
    filter: invert(1);
}



/* FORMULÁRIO */


.contact {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 2px;
}


form label {
    color: var(--cor--primaria);
    font-weight: 300;
}



form input,
textarea {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #5A5A5A;
    margin-bottom: 1em;
    color: #ddd;
}



input::placeholder {
    font-size: .8em;
    color: #bfbfbf56;
}




/* BOTÃO */


.button {
    background-color: transparent;
    border: none;
    color: var(--cor--primaria);
    font-style: italic;
}