/* ==================== RESET ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}



:root {
    --cor--painel: #1F1F1F;
    --cor--primary: #DE8116;

}






/* LINKS */


.list-unstyled a {
    display: inline-block;
    margin: .5em 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;

}

/* PAINEL */

.offcanvas {
    background-color: var(--cor--painel);
}




/* BTN CLOSE */
.btn-close {
    filter: invert(1);

}


/* MENU HAMBURGUER */

.bi-list {
    font-size: 1.4em;
    color: #ffffff;

}


.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}





/* FORMULÁRIO */


.contact {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 2px;
}


form label {
    color: var(--cor--primary);
    font-weight: 300;
}



form input,
textarea {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #5A5A5A;
    margin-bottom: 1em;
    color: #ddd;
}



input::placeholder,
textarea::placeholder {
    font-size: .8em;
    color: #bfbfbf56;
}



/* BOTÃO */


.button {
    background-color: transparent;
    border: none;
    color: var(--cor--primaria);
    font-style: italic;
}




/* BODY */


body {
    background-color: #2b2b2b;
}





.main-hero {
    background-image: url("https://static.wixstatic.com/media/nsplsh_5468315376372d31344c38~mv2.jpg/v1/fill/w_1897,h_841,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/nsplsh_5468315376372d31344c38~mv2.jpg");
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;


}




.text h1 {
    text-align: center;
    padding-top: .4em;
    color: #ffffff;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 500;
}



/* SOBRE */


.title {
    color: #ffffff;
    padding: 1em 0;
    font-size: 1.8em;
    font-weight: 600;

}


.text-background {
    background-color: var(--cor--primary);
    border-radius: 3px;
    text-align: center;
}



.text-background img {
    width: 80%;
    height: auto;
    object-fit: cover;

}


.text-background h4 {
    color: #F2F2F2;
    margin-top: 1em;
    font-size: 1.8em;
    text-align: left;
    margin-left: 1em;
    font-weight: bold;
    text-transform: uppercase;
}


.text-background p {
    color: #ffffff;
    font-size: .8em;
    text-align: left;
    width: 310px;
    margin-left: 1.3em;
}