/* ==================== RESET ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* ==================== ROOT VARIABLES ==================== */
:root {
    --cor--painel: #1F1F1F;
    --cor--primary: #DE8116;
}

/* ==================== LINKS ==================== */
.list-unstyled a {
    display: inline-block;
    padding: .5em 0;
    margin-left: .9em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* ==================== PAINEL / OFFCANVAS ==================== */
.offcanvas {
    background-color: var(--cor--painel);
}

/* ==================== BOTÃO CLOSE ==================== */
.btn-close {
    filter: invert(1);
}

/* ==================== MENU HAMBÚRGUER ==================== */
.bi-list {
    font-size: 1.4em;
    color: #ffffff;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

/* ==================== FORMULÁRIO ==================== */
.contact {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 2px;
}

form label {
    color: var(--cor--primary);
    font-weight: 300;
}

form input,
textarea {
    background-color: transparent;
    margin-bottom: 1.2em;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #5A5A5A;
    color: #ddd;
}

input::placeholder,
textarea::placeholder {
    font-size: .8em;
    color: #bfbfbf56;
}

/* BOTÃO */
.button {
    background-color: transparent;
    border: none;
    color: var(--cor--primaria);
    font-style: italic;
}

/* ==================== BODY ==================== */
html,
body {
    background-color: #2b2b2b;
    overflow-x: hidden;
    background-image: url(https://static.wixstatic.com/media/nsplsh_5468315376372d31344c38~mv2.jpg/v1/fill/w_1897,h_841,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/nsplsh_5468315376372d31344c38~mv2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

/* ==================== SEÇÕES GERAIS ==================== */
section {
    padding-top: 2em;
}

.title {
    color: #e8e8e8;
    font-weight: 700;
    font-size: 1.6em;
    margin-top: .9em;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
}

/* ==================== BLOCO DE TEXTO ==================== */


.hero-content {
    background-color: var(--cor--primary);

}






.hero-container {
    margin-top: 7em;

}









.background-imagem {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2em;
    display: block;
    aspect-ratio: 16/9;

}




.hero-content p {
    color: #ddd;
    font-size: .9em;
    letter-spacing: 1px;
    font-style: italic;
    text-align: left;
    padding: .9em;
    margin: 0 auto;
    width: 380px;


}

/* ==================== MENU CARD ==================== */
.menu-card {
    padding: 1em;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.55);
    border-radius: 2px;
    max-width: 220px;
    margin: 0 auto;
}

.menu-card img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.saiba-btn {
    padding: .5em 2.3em;
    background-color: var(--cor--primary);
    display: inline-block;
    border-radius: 2px;
    color: #e5e5e5;
    border: none;
    font-size: .8em;
}

.name {
    color: #3e2723;
    margin-top: 1em;
    font-size: .8em;
    font-weight: 500;
}

/* ==================== CAROUSEL ==================== */
.carousel-item {
    background-color: #f5e6d3;
    height: 250px;
}

.avaliacao {
    font-size: .8em;
    color: #2a1f1a;
    letter-spacing: 1px;
}

span {
    color: var(--cor--primary);
    font-weight: bold;
}

.stars i {
    color: #DAA520;
    display: inline-block;
    margin-top: .5em;
}

/* ==================== FOTOS E CARDS ==================== */
.foto-padaria img {
    max-width: 100%;
    object-fit: cover;
    display: block;
    margin: 1em 0;
}

.paes-card img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 450px;
    border-radius: 3px;
}

.pao-nome {
    color: #ffffff;
    margin-top: 1em;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
}

.star {
    color: #DAA520;
}

.opinion {
    color: #b5b5b5;
    font-size: .9em;
    width: 50%;
    margin: 0 auto;
}

.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7em;
    color: #FF6F3C;
    font-weight: 400;
}

/* ==================== VER MAIS ==================== */
.ver-mais {
    background-color: var(--cor--primary);
    display: block;
    width: fit-content;
    padding: .5em 3em;
    border-radius: 2px;
    margin: 0 auto;
    font-size: .9em;
    color: #e5e5e5;
    text-decoration: none;
}

/* ==================== LOGO ==================== */
.logo-imagem {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 1em;
}

/* ==================== RODAPÉ ==================== */
#rodape {
    height: 1700px;
    background-color: var(--cor--primary);
    margin-top: 1.5em;
    padding: 3em;
}

.text-footer {
    color: #6B3F2D;
    font-weight: 600;
}

.paragraf {
    font-size: .9em;
    color: #e5e5e5;
}

#rodape li {
    color: #e6e6e6;
    list-style-type: none;
    font-size: .9em;
}

.link-bt {
    background-color: #2C1F1A;
    padding: .6em 2em;
    display: inline-block;
    border-radius: 2px;
    margin: 1em 0;
    color: #e5e5e5;
    text-decoration: none;
}

.footer-imagem {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.icon i {
    font-size: 2em;
    color: #ffffff;
    transform: scale(1.05);
}

.footer-copy {
    color: #ccc;
}






/* ==================== MEDIA QUERY ==================== */


/* Tablet/Desktop */


@media (min-width: 768px) {

    /* MENU DESKTOP */
    .menu {
        width: 100%;
        justify-content: flex-end;
        margin-top: 1.5em;
        gap: 2em;
    }

    .menu li {
        list-style-type: none;
    }

    .menu li a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.5em;
        color: #ffffff;
        transition: transform .2s ease;
        font-family: 'Dancing Script', cursive;

    }

    .menu li a:hover {
        color: var(--cor--primary);
        transform: scale(1.1);


    }



    .hero-container {
        margin-top: 52em;


    }



    .hero-content {
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .background-imagem {
        max-width: 70%;
        aspect-ratio: 16/9;
        border-radius: 25px 0 25px 0;

    }



    .title {
        font-size: 2.5em;
        font-weight: 700;

    }




    .hero-content p {
        width: 70%;
        font-size: 2em;
        font-family: 'Dancing Script', cursive;
        font-style: normal;
        letter-spacing: 0;
    }







    /* .menu-card {
        border-radius: 20px 0 20px 0;
    } */



}