/* ==================== RESET ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}



:root {
    --cor--painel: #1F1F1F;
    --cor--primary: #DE8116;

}






/* LINKS */


.list-unstyled a {
    display: inline-block;
    padding: .5em 0;
    margin-left: .9em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;

}

/* PAINEL */

.offcanvas {
    background-color: var(--cor--painel);
    z-index: 1050;
}




/* BTN CLOSE */
.btn-close {
    filter: invert(1);

}


/* MENU HAMBURGUER */

.bi-list {
    font-size: 1.4em;
    color: #ffffff;

}


.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}





/* FORMULÁRIO */


.contact {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 2px;
}


form label {
    color: var(--cor--primary);
    font-weight: 300;
}



form input,
textarea {
    background-color: transparent;
    margin-bottom: 1.2em;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #5A5A5A;
    color: #ddd;

}



input::placeholder,
textarea::placeholder {
    font-size: .8em;
    color: #bfbfbf56;
}



/* BOTÃO */


.button {
    background-color: transparent;
    border: none;
    color: var(--cor--primaria);
    font-style: italic;
}




/* BODY */


body {
    background-color: #2b2b2b;
    background-image: url("https://static.wixstatic.com/media/nsplsh_5468315376372d31344c38~mv2.jpg/v1/fill/w_1897,h_841,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/nsplsh_5468315376372d31344c38~mv2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 5em;

}




section {
    padding-top: 2em;
}



.text h1 {
    color: #ffffff;
    margin-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
}




.text-background {
    background-color: var(--cor--primary);

}



.title {

    color: #e8e8e8;
    font-weight: 700;
    font-size: 1.6em;
    margin-top: .9em;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
}



.text-background h4 {
    color: #3A3A3A;
    margin-top: 1em;
    font-weight: 700;

}




.text-background p {
    color: #ddd;
    font-size: .9em;
    letter-spacing: 1px;
    font-style: italic;
    margin-top: 1em;
}




.menu-card {
    padding: 1em;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.55);
    border-radius: 2px;



}





.menu-card img {
    width: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 2em;

}



.saiba-btn {
    padding: .5em 2.3em;
    background-color: #DE8116;
    display: inline-block;
    border-radius: 2px;
    color: #fff;
    border: none;
    font-size: .8em;
    transition: transform .2s ease;
}


.saiba-btn:active {
    transform: scale(0.95);
}




.name {
    color: #3e2723;
    margin-top: 1em;
    font-size: .8em;
    font-weight: 500;
}



.carousel-item {
    background-color: #f5e6d3;
    height: 250px;
}



.avaliacao {
    font-size: .8em;
    color: #2a1f1a;
    padding: 2em;
    letter-spacing: 1px;
}



span {
    color: #DE8116;
    font-weight: bold;



}



.stars i {
    color: #DAA520;
    display: inline-block;
    margin-top: .5em;

}




.foto-padaria img {
    max-width: 100%;
    object-fit: cover;

}





.paes-card img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 450px;
    border-radius: 3px;
}




.pao-nome {
    color: #ffffff;
    margin-top: 1em;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
}



.star {
    color: #DAA520;
    margin-left: 11em;

}




.opinion {
    color: #b5b5b5;
    font-size: .9em;
}



.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7em;
    color: #FF6F3C;
    font-weight: 400;
}






/* BOTÃO */


.ver-mais {
    background-color: #32CD32;
    padding: .3em 3em;
    border-radius: 2px;
    display: inline-block;
    margin-left: 11em;
    font-size: .9em;
    color: #ffffff;
    
}