/* ==================== RESET ==================== */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
    outline: none;
    font-family: "Lato", sans-serif;

}




.home-section img {
    display: block;
    width: 100%;
}



.home-section {
    position: relative;
}



.text {
    position: absolute;
    top: 10px;
    color: #fff;
    padding: 2em 1em;
    font-weight: 300;
    letter-spacing: 1px;
}



.offcanvas-body img {
    max-width: 20%;
    margin-top: -1em;
}




.list-unstyled {
    padding-top: 1em;
}




.offcanvas {
    background: #7a8288;   
}

/* Na sexta feira eu vou mexer nesse offcanvas , quero troca a cor */

.list-unstyled li a {
    display: inline-block;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #ccc;
    font-weight: 500;

}





