/* ==================== RESET ==================== */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
    outline: none;
    font-family: "Lato", sans-serif;

}




body {
    background: #000000;
}




.home-section img {
    display: block;
    width: 100%;
}



.home-section {
    position: relative;
}



.text {
    position: absolute;
    top: 10px;
    color: #fff;
    padding: 2em 1em;
    font-weight: 300;
    letter-spacing: 1px;
}



.offcanvas-body img {
    max-width: 20%;
    margin-top: -1em;

}




.list-unstyled {
    padding-top: 1em;
}




.offcanvas {
    background: #333333;
}





.list-unstyled li a {
    display: inline-block;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #ccc;
    font-weight: 500;

}




form label {
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;

}


.form-control {
    margin-top: .3em;
    background: #dce0e6;
}





.form-control:focus {
    background: #e6e6e6;
    border: none;
    box-shadow: none;
    outline: none;



}



.form-control::placeholder {
    color: #111;

}




.input-wrap button {
    padding: .3em .8em;
    border-radius: 3px;
    background: #4d88ff;
    color: #ffffff;
    border: none;
}



.input-wrap:hover {
    background: #3c7ae6;
}




.input-wrap {
    position: relative;
}



.input-wrap button {
    position: absolute;
    top: 2px;
    right: 4px;

}


.navbar-toggler {
    background: #f2f2f2;
    font-size: .9em;
    margin-top: 1em;
}



.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}